*{
    margin: 0;
    box-sizing: border-box;
}

.start,.warning,.warning-title,.warning-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.start{
    position: relative;
    background: url("../assets/backg.gif") no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: 69;
}

.warning{
    width:calc(90vw);
    height: calc(25vh);
    color: white;
}

.warning-title, .warning-body{
    width: 100%;
}

.warning-title{
    font-weight: bolder;
    color: yellow;
}

.warning-btn{
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 1vh;
    border: 1px solid rgba(255, 255, 255, 0);
}

.warning-btn:hover{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    transition: 0.5s;
    border: 1px solid white;
}