*{
  margin: 0;
  box-sizing: border-box;
}

.main{
  display: flex;
  flex-flow: row wrap;
}

.header{
  display: flex;
  width: 100%;
  height: 5rem;
  background-color: black;
}

.logo{
  margin-left: 2.5rem;
  padding-bottom: 1rem;
}

.content{
  height: calc(100vh - 5rem);
  width: 30%;
  background-color: black;
  overflow: auto;
}

.links-cont{
  display: flex;
  height: 100%;
  width: calc(100% - 7.5rem);
  background-color: black;
}

.link{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  padding: 0 1rem 0 1rem;
  text-decoration: none;
}

.link:hover{
  background-color: rgb(24, 24, 24);
}

.carousel {
  width: 70%;
  height: calc(100vh - 5rem);
  overflow: hidden;
  position: relative;
}

.slide {
  width: 300%;
  height: calc(100vh - 5rem); /* Defina a altura dos slides conforme necessário */
  display: none;
  justify-content: center;
  align-items: center;
  background-color: black; /* Defina a cor de fundo dos slides conforme necessário */
}

/*aAAAAAAAAAAAAAA*/

.slides {
  display: flex;
  transition: transform 0.5s ease;
  overflow: hidden;
  width: 100%;
}

.prev-btn,
.next-btn {
  height: 2.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
}

.next-btn {
  right: 0;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgb(190, 190, 190);
}

.active{
  display: flex;
}

.disabled{
  display: none;
}

.slide-img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
}

@media only screen and (max-width: 1000px) {
  .content,.carousel{
    flex: 100%;
  }
}

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* Color of the thumb (drag handle) */
  border-radius: 0; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777; /* Color of the thumb on hover */
}

.twitter-title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  position: relative;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 5rem;
  background-color: black;
  color: white;
}

.twitter-timeline{
  position: relative;
  top: -3.625rem;
}

.twitter-follow-button{
  background-color: black;
}

@font-face {
  font-family: bodoni;
  src: url(../fonts/bodoni.ttf);
}

.twitter-subtitle{
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: bodoni;
}